<configuration>

    <!-- 1) Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%level] [DUUI-Gateway] – %msg%n
            </pattern>
        </encoder>
    </appender>

<!--    &lt;!&ndash; 2) Rolling‐file appender (roll daily, keep 7 days) &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/myapp.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>logs/myapp.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            &lt;!&ndash; keep 7 days of logs &ndash;&gt;-->
<!--            <maxHistory>7</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} [%level] [MyApp] – %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- 3) Root logger: send everything ≥ INFO to console & file -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="FILE" />-->
    </root>

</configuration>
